<div>
    <nav class="navbar navbar-expand-md  navbar-dark bg-dark mx-auto pb-3 w-100">
        <a class="navbar-brand mr-auto mt-2 mt-lg-0 " href="/expenses">Budget Management</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0 ">

            </ul>
             <% if (username) { %>  
            <form class="d-flex mr-auto mt-2 w-50 mt-lg-0" action="/expenses/search" method="POST" name="searchForm">
                <div class="input-group " name="divSearch">
                    <input type="text" class="form-control" placeholder="Search" name="search" onsubmit=validateForm()  id="search">
                    <button type="submit" class="btn btn-secondary"><i class="fa fa-search"
                            aria-hidden="true"></i></i></button>
                </div>
            </form>

            <div class="nav-navbar dropdown">
               
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                   
                    Hi <%= username %>
                    
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Profile</a>
                    <a class="dropdown-item" href="/session/logout">Log out</a>
                </div>
            </div>
            <% } else { %>
                <ul class="navbar-nav  mt-2 mt-lg-0 ">
                    <li class="nav-item"><a href="/session/login" class="nav-link">Log In</a></li>
                    <li class="nav-item"><a href="/session/Register" class="nav-link">Register</a></li>
                </ul>
                <!-- <div class="nav-navbar">
                    
                    <a href="/session/login" class="nav-link">Register</a>
                </div> -->
                <script>
                    function validateForm() {  
                         let x = document.forms['searchForm']['divSearch']['search'].value  
                         if (x == '' || x == null) {  
                             alert('Must be filled out')  
                             return false  
                         } 
                     }   
                    </script>
                <% } %>
    </nav>
</div>