<!-- Add New Record  -->
<div class="modal fade" id="addNewRecord" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="exampleModalLongTitle">Add New Record</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <form action="/expenses" method="post">

                        <!-- Date -->
                        <div class="form-group">
                            <label for="date">Date</label>
                            <input type="date" class="form-control" id="date" name="date" placeholder="$">
                        </div>
                        <!-- Category -->
                        <div class="form-group">
                            <label for="category">Category</label>
                            <select class="form-control custom-select" id="category" name="category">
                                <option disabled selected>Choose...</option>
                                <option value="Income">Income</option>
                                <option value="Housing">Housing</option>
                                <option value="Food & Drinks">Food & Drinks</option>
                                <option value="Transportation">Transportation</option>
                                <option value="Vehicle">Vehicle</option>
                                <option value="Shopping">Shopping</option>
                                <option value="Life & Family ">Life & Family</option>
                                <option value="Communication">Communication</option>
                                <option value="Financial expenses">Financial expenses</option>
                                <option value="Others">Others</option>
                            </select>
                        </div>


                        <!-- Amount -->
                        <div class="form-group">
                            <label for="amount">Amount</label>
                            <input type="number" class="form-control" id="amount" name="amount" step="0.01" min="0"
                                placeholder="$">
                        </div>


                        <!-- Description -->
                        <div class="form-group">
                            <label for="description">Description</label>
                            <textarea class="form-control" name="description" id="description"
                                placeholder="Leave a note here" rows="4"></textarea>
                        </div>

                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>