body {
    margin: 0;
    padding: 0;
    background-color: #93B5C6;

}

.totalBudget {
   
    background-color: white;
}

.filterContainer {
    background-color: white;
    border-color: red;
}

.filterLinkTag {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    font-weight: bold;
    border-color: red;
}

.filterColumn {
    border-color: #007bff;
    cursor: pointer;
    color: #007bff;
}

.active, .filterColumn:hover {
    background-color: #D6D2C4;

}

.dropdown-menu {
    max-height: 200px;
    overflow-y: scroll;
  }

/* table */
.tableBackground {
    
    background-color: #FEF9EF;
}

.tableHeader {
    z-index: 1;
}

.my-custom-scrollbar {
    position: relative;

    overflow: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }



/* .filterColumn, .table-hover p {
    font-size: 1.3rem;
} */




.totalExpenses {
    color: red;
}

.totalIncome {
    color: #4ee44e;
}

.balance {
    color: #007bff;
}

.form-group p {
    font-size: 1.2rem;
font-weight: bold;

}


.flashMessage {
    color: red;
}

#navbarDropdown {
    color: #F8F0DF;
}

/* Login and register */


#login .loginContainer #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 360px;
  border: 1px solid #9C9C9C;
  background-color: #444b52;
}
#login .loginContainer #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .loginContainer #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

.sessionBackground {
    background-image: url('https://cdn.pixabay.com/photo/2015/01/07/16/37/wood-591631_960_720.jpg');
    background-size: cover;
}


/* Register */
#register .registerContainer #register-row #register-column #register-box {
    margin-top: 120px;
    max-width: 600px;
    height: 460px;
    border: 1px solid #9C9C9C;
    background-color: #444b52;
  }
  #register .registerContainer #register-row #register-column #register-box #register-form {
    padding: 20px;
  }
  #register .registerContainer #register-row #register-column #register-box #register-form #register-link {
    margin-top: -85px;
  }


@media (min-width: 768px) {
    .navbar-brand.abs
        {
            position: absolute;
            width: auto;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
        }
    }
    