

<%- include('../partials/header.ejs') %>

<div class=" container-scroll-y my-custom-scrollbar h-100  w-100">
    <div class=" h-100 bg-dark border rounded sessionBackground">
        <div id="login">
            <div id="register">
                <div class="container registerContainer">
                    <div id="register-row" class="row justify-content-center align-items-center">
                        <div id="register-column" class="col-md-6">
                            <div id="register-box" class="col-md-12">
                                <form id="register-form" class="form" action="" method="post">
                                    <h3 class="text-center text-info">Register</h3>
                                    <% if(message) { %>
                                        <p class="flashMessage"><%= message %> </p>
                                        <% } %> 
                                    <div class="form-group">
                                        <label for="username" class="text-info">Username:</label><br>
                                        <input type="text" name="username" id="username" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="password" class="text-info">Password:</label><br>
                                        <input type="password" name="password" id="password" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="verifyPassword" class="text-info">Re-type Password:</label><br>
                                        <input type="password" name="verifyPassword" id="verifyPassword" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                                        <input type="submit" name="submit" class="btn btn-info btn-md" >
                                    </div>
                                    <div id="register-link" class="text-right">
                                        <a href="/session/login" class="text-info">Log In</a>
                                    </div>
                                </form>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<%- include('../partials/footer.ejs') %>